boards/rk3576/kickpi-k7/nboot/RELEASE text eol=lf
boards/rk3576/kickpi-k7/nboot/SHA256SUMS text eol=lf
boards/rk3576/kickpi-k7/nboot/*.json text eol=lf
boards/rk3576/kickpi-k7/nboot/*.bin binary
boards/rk3576/kickpi-k7/nboot/*.dtb binary
